<div class="card z-depth-1 post">
  <% if post.featured_media %>
    <div class="card-image">
      <%= image_tag post.featured_media.file_url %>
    </div>
  <% end %>
  <div class="card-content">
    <div class="post-title"><%= link_to post.title, storytime.post_path(post) %></div>
    <small class='muted'>Postado em <%= l post.created_at, format: :mediumDate %> por <%= post.user.nick %></small>
    <br/>
    <div>
      <%= post.excerpt %>
      <p><%= link_to 'Continuar lendo', storytime.post_path(post) %></p>
    </div>
  </div>
  <% unless post.tags.empty? %>
    <div class="card-action">
      <%= render 'storytime/posts/tags', post: post %>
    </div>
  <% end %>
</div>
