<div class="card">
  <div class="card-image">
    <% if @post.featured_media %>
      <%= image_tag @post.featured_media.file_url %>
    <% end %>
  </div>
  <div class="card-content">
    <h3><%= @post.title %></h3>
    <%= @post.content.html_safe %>
  </div>
  <div class="card-action">
    <%= render 'storytime/blogs/tags', post: @post %>
  </div>
  <div class="card-action">
    <%= render_comments if @post.show_comments? && !@post.preview %>
  </div>
</div>







