<% content_for :head, auto_discovery_link_tag(:atom, action: :show, id: @page.id, format: "atom") %>
<% content_for :sidebar do %>
  <div class="card">
    <div class="card-content">
      <span class="card-title red-text">Receba atualizações</span>
      <%= simple_form_for Storytime::Subscription.new do |f| %>
        <%= f.input :email %>
        <%= f.button :submit, 'Inscrever' %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render @posts %>
<%= paginate @posts, param_name: 'page_number' %>
