<!DOCTYPE html>
<html>
<head>
  <title>AmazonrailsBlog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1>AmazonRails</h1>
</div>

<nav class="red">
  <div class="nav-wrapper container">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <% Storytime::Page.published.each do |page| %>
        <li><%= link_to page.title, storytime.page_path(page) %></li>
      <% end %>
      <% if user_signed_in? && !devise_controller? && current_user.storytime_user?(@current_storytime_site) %>
        <li><%= link_to 'Admin', '/admin' %></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% Storytime::Page.published.each do |page| %>
        <li><%= link_to page.title, storytime.page_path(page) %></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container animated fadeIn">
  <div class="row">
    <div class="col s12 l<%= content_for?(:sidebar) ? 8 : 12 %>">
      <%= yield %>
    </div>
    <% if content_for?(:sidebar) %>
      <div class="col s12 l4">
        <%= yield :sidebar %>
      </div>
    <% end %>
  </div>
</div>

<footer class="page-footer red">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <%= image_tag 'logo', class: 'responsive-img', width: '120px' %>
        <h5 class="white-text">AmazonRails</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="http://rubyonrails.org/">Homepage do Rails</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="http://www.akitaonrails.com/">AkitaOnRails</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="http://tableless.com.br/">Tableless</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.codewars.com">Codewars</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.codecademy.com/pt/tracks/ruby">Curso de Ruby no Codecademy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © AmazonRails 2015
    </div>
  </div>
</footer>

<script type="text/javascript" charset="utf-8">
  <% flash.each do |type, msg| %>
  Materialize.toast("<%= msg %>", 5000);
  <% end %>
</script>

</body>
</html>
